
#
# Flash Layout
#
CONFIG_FLASH_RTOS=n
CONFIG_FLASH_RTOS_OFFSET=0xA00000
CONFIG_FLASH_RTOS_SIZE=0x400000
# CONFIG_FLASH_RTOS_SECONDARY is not set
CONFIG_FLASH_RTOS_ENV=y
CONFIG_FLASH_RTOS_ENV_OFFSET=0xE00000
CONFIG_FLASH_RTOS_ENV_SIZE=0x10000
# CONFIG_FLASH_RTOS_ENV_REDUNDANT is not set
CONFIG_FLASH_FECMAP=y
CONFIG_FLASH_FECMAP_OFFSET=0xE70000
CONFIG_FLASH_FECMAP_SIZE=0x80000
#CONFIG_FLASH_LSC=y
#CONFIG_FLASH_LSC_OFFSET=0x1000
#CONFIG_FLASH_LSC_SIZE=0x1f000

#
# 
#

#
#  ********* Loader & U-Boot ********* 
#
CONFIG_FLASH_LOADER=y
CONFIG_FLASH_LOADER_OFFSET=0x0
CONFIG_FLASH_LOADER_SIZE=0x1000
CONFIG_FLASH_UBOOT=y
CONFIG_FLASH_UBOOT_OFFSET=0x1000
CONFIG_FLASH_UBOOT_SIZE=0x1F000
#CONFIG_FLASH_UBOOT_ENV=y
#CONFIG_FLASH_UBOOT_ENV_OFFSET=0x2000
#CONFIG_FLASH_UBOOT_ENV_SIZE=0x10000

